<div>
  <a style="cursor: pointer" class="list-group-item list-group-item-action" aria-current="true">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ detalhepedido.descricao }}</h5>
      <p class="mb-1">Quantidade: {{ detalhepedido.quantidade }}</p>
    </div>
    <div class="d-flex w-100 justify-content-between">
      <p class="mb-1">Total: R$ {{ detalhepedido.valorTotal }}</p>
    </div>
    <div class="d-flex justify-content-end">
      <button class="btn btn-secondary btn-sm" (click)="onEdit()" style="margin-right: 1rem;" routerLink="/cliente-detalhe" routerLinkActive="active">Editar</button>
      <button class="btn btn-danger btn-sm" (click)="onDelete()" routerLink="/orcamento-detalhe">Remover</button>
    </div>
  </a>
</div>
