<h3>Detalhe do Pedido</h3>
<form class="border border-secondary rounded p-3 bg-light mb-3" (ngSubmit)="onSubmit(form)" #form="ngForm">
  <div class="row">
    <div class="col-12 col-sm-12 mb-3">
      <label for="nome" class="form-label">Descrição do Pedido:</label>
      <input
      type="text"
      id="desc"
      name="desc"
      class="form-control"
      ngModel
      required
      #nameCtrl="ngModel"
      >
    </div>
  </div>
  <span>Lista de Itens do Pedido</span>
  <app-lista-detalhe-pedido></app-lista-detalhe-pedido>
  <div class="text-end">
    <button class="btn btn-secondary mb-3 " type="submit">+ Itens</button>
    <h4 class="mb-3">Valor Total do Pedido</h4>
    <h4 class="mb-3">R$ 310,00</h4>
  </div>
  <button class="btn btn-primary" type="submit" [disabled]="form.invalid" style="margin-right: 1rem;">Salvar Pedido</button>
  <button class="btn btn-success" type="submit">Gerar PDF</button>
</form>
