<h3>Detalhe do produto</h3>
<form class="border border-secondary rounded p-3 bg-light mb-3" (ngSubmit)="onSubmit(form)" #form="ngForm">
  <div class="row">
    <div class="col-12 col-sm-12 mb-3">
      <label for="nome" class="form-label">Descrição do Produto:</label>
      <input
      type="text"
      id="desc"
      name="desc"
      class="form-control"
      ngModel
      required
      #nameCtrl="ngModel"
      >
    </div>
  </div>
  <div class="col-12 col-sm-6 mb-3">
    <label class="form-label" for="form-label">Preço:</label>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <div class="input-group-text">R$</div>
      </div>
      <input type="number"
      type="number"
      id="valor"
      name="valor"
      class="form-control"
      ngModel
      required
      #nameCtrl="ngModel">
    </div>
  </div>
  <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Salvar</button>
</form>
